<?xml version="1.0"?>
<!--
/**
 * Copyright © 2022 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- Ref: https://devdocs.magento.com/guides/v2.3/payments-integrations/base-integration/get-payment-info.html -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_senangpay_gateway">
        <observer name="senangpay_payment_gateway_data_assign" instance="Senangpay\SenangpayPaymentGateway\Observer\DataAssignObserver" />
    </event>
</config>
